<section
    class="
    grid
    grid--column-mobile-down
    grid--nowrap
    grid--vertical-center
    grid--graph-mobile-up
    grid--gutter
    grid--white
  "
    id="content"
>
  <div class="fine-tune grid__container">
    <div class="fine-tune__content title grid__item grid__item--nogrow">
      <h2 class="title__title">
        {{ settings.home_page_fine_tune_title }}
      </h2>
      <p class="title__byline">
        {{ settings.home_page_fine_tune_byline }}
      </p>
      <a
          class="title__button button button--large-padding button--primary m-t-40"
          href="/pages/fit-finder"
          data-analytics-click="Click"
          data-analytics-props='{"category": "Fit Finder Link", "label": "Homepage Fine Tune"}'
      >
        <span class="button__content">
          {{ settings.home_page_fine_tune_button }}
        </span>
      </a>

      <!-- TrustBox widget - Micro Combo -->
      <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6ffb0d04a076446a9af"
           data-businessunit-id="5801fde30000ff0005961054" data-style-height="20px" data-style-width="100%"
           data-theme="light">
        <a href="https://uk.trustpilot.com/review/spoke-london.com" target="_blank">Trustpilot</a>
      </div>
      <!-- End TrustBox widget -->

    </div>
    <div class="fine-tune__image grid__item">
      {% include 'svg.illustration.trousers-8' %}
    </div>
  </div>
</section>

{% assign items = 4 %}

<section
  class="
    collection-overview-list
    collection-overview-list--home
    grid
    grid--column
    grid--grey-light
    grid--gutter
    grid--hide-overflow
  "
  data-index="0"
  data-items="{{ items }}"
  data-touch="true"
>
  <div class="collection-overview-list__container title grid__container">
    <h2 class="title__title">
      {{ settings.home_page_list_title }}
    </h2>
    <p class="title__byline">
      {{ settings.home_page_list_byline }}
    </p>
    <div class="collection-overview-list__wrapper grid grid--column">
      <div class="grid__container">
        <div class="grid grid--nowrap grid--horizontal-start">
          <ul class="collection-overview-list__list grid__container">
            <li class="collection-overview-list__spacer">
            </li>
            {% for i in (1..items) %}
              <li class="collection-overview-list__item grid__item grid">
                {% include 'home-page-overview' %}
              </li>
              <li class="collection-overview-list__spacer">
              </li>
            {% endfor %}
          </ul>
        </div>

        <ul class="collection-overview-list__pagination pagination pagination--primary">
          {% for i in (1..items) %}
            <li class="pagination__item">
              <button
                class="pagination__button"
                data-index="{{ i | minus: 1 }}"
                type="button"
              >
                {{ i }}
              </button>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>


<div class="grid grid--graph grid--full-width grid--column grid--white">
  <div class="grid__container">
    <section
        class="our-formula grid grid--gutter grid--hide-overflow"
        data-index="0"
        data-items="3"
        data-touch="true"
    >
      <div class="grid__container">
        <div class="grid__item grid__item--100">
          <div class="our-formula__header title grid grid--gutter">
            <h2 class="title__title">
              {{ settings.home_page_our_formula_title }}
            </h2>
            <p class="title__byline">
              {{ settings.home_page_our_formula_byline }}
            </p>
          </div>

          <div class="our-formula__content grid grid--column">
            <div class="grid__container">
              <div class="grid grid--nowrap grid--horizontal-start">
                <ul class="our-formula__list grid__container">
                  <li class="grid__spacer"></li>
                  <li class="our-formula__item grid__item">
                    <img
                        class="our-formula__image"
                        src="{{ settings.home_page_our_formula_item_1_image | img_url: '300x' }}"
                        srcset="
                        {{ settings.home_page_our_formula_item_1_image | img_url: '300x' }} 300w,
                        {{ settings.home_page_our_formula_item_1_image | img_url: '395x' }} 395w,
                        {{ settings.home_page_our_formula_item_1_image | img_url: '600x' }} 600w,
                        {{ settings.home_page_our_formula_item_1_image | img_url: '790x' }} 790x
                      "
                    />
                    <h3 class="our-formula__title">
                      {{ settings.home_page_our_formula_item_1_title }}
                    </h3>
                    <p>
                      {{ settings.home_page_our_formula_item_1_byline }}
                    </p>
                  </li>
                  <li class="grid__spacer"></li>
                  <li class="our-formula__item grid__item">
                    <img
                        class="our-formula__image"
                        src="{{ settings.home_page_our_formula_item_2_image | img_url: '300x' }}"
                        srcset="
                        {{ settings.home_page_our_formula_item_2_image | img_url: '300x' }} 300w,
                        {{ settings.home_page_our_formula_item_2_image | img_url: '395x' }} 395w,
                        {{ settings.home_page_our_formula_item_2_image | img_url: '600x' }} 600w,
                        {{ settings.home_page_our_formula_item_2_image | img_url: '790x' }} 790x
                      "
                    />
                    <h3 class="our-formula__title">
                      {{ settings.home_page_our_formula_item_2_title }}
                    </h3>
                    <p>
                      {{ settings.home_page_our_formula_item_2_byline }}
                    </p>
                  </li>
                  <li class="grid__spacer"></li>
                  <li class="our-formula__item grid__item">
                    <img
                        class="our-formula__image"
                        src="{{ settings.home_page_our_formula_item_3_image | img_url: '300x' }}"
                        srcset="
                        {{ settings.home_page_our_formula_item_3_image | img_url: '300x' }} 300w,
                        {{ settings.home_page_our_formula_item_3_image | img_url: '395x' }} 395w,
                        {{ settings.home_page_our_formula_item_3_image | img_url: '600x' }} 600w,
                        {{ settings.home_page_our_formula_item_3_image | img_url: '790x' }} 790x
                      "
                    />
                    <h3 class="our-formula__title">
                      {{ settings.home_page_our_formula_item_3_title }}
                    </h3>
                    <p>
                      {{ settings.home_page_our_formula_item_3_byline }}
                    </p>
                  </li>
                  <li class="grid__spacer"></li>
                </ul>
              </div>

              <ul class="our-formula__pagination pagination pagination--primary">
                <li class="pagination__item">
                  <button
                    class="pagination__button"
                    data-index="0"
                    type="button"
                  >
                    1
                  </button>
                </li>
                <li class="pagination__item">
                  <button
                    class="pagination__button"
                    data-index="1"
                    type="button"
                  >
                    2
                  </button>
                </li>
                <li class="pagination__item">
                  <button
                    class="pagination__button"
                    data-index="2"
                    type="button"
                  >
                    3
                  </button>
                </li>
              </ul>

              <div class="grid grid--horizontal-center">
                <div class="grid__container">
                  <a
                    class="our-formula__button button button--large-padding button--primary"
                    href="/pages/about"
                    data-analytics-click="Click"
                    data-analytics-props='{"category": "Homepage", "label": "Read Our Story"}'
                  >
                  <span class="button__content">
                    Read our story
                  </span>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    {% assign as_seen_in_1 = settings.home_page_as_seen_in_1 %}
    {% assign as_seen_in_2 = settings.home_page_as_seen_in_2 %}
    {% assign as_seen_in_3 = settings.home_page_as_seen_in_3 %}

    <section class="as-seen-in grid--grey-light">
      <div class="as-seen-in__container">
        <h4 class="as-seen-in__title">
          As seen in
        </h4>

        <ul class="as-seen-in__list">
          <li class="as-seen-in__item">
            {% include 'snippet.svg.logo', type:'logo', class: as_seen_in_1 %}
          </li>
          <li class="as-seen-in__item">
            {% include 'snippet.svg.logo', type:'logo', class: as_seen_in_2 %}
          </li>
          <li class="as-seen-in__item">
            {% include 'snippet.svg.logo', type:'logo', class: as_seen_in_3 %}
          </li>
        </ul>
      </div>
    </section>

    <section class="testimonials" data-index="0" data-items="4">
      <ul class="testimonials__list">
        <li class="testimonials__item">
          {% include 'snippet.svg.icon', type:'icon', class:'quote' %}
          <h3 class="testimonials__quote">
            {{ settings.home_page_testimonial_quote_1 }}
          </h3>
          <p class="testimonials__attribution">
            - {{ settings.home_page_testimonial_attribution_1 }}
          </p>
        </li>
        <li class="testimonials__item">
          {% include 'snippet.svg.icon', type:'icon', class:'quote' %}
          <h3 class="testimonials__quote">
            {{ settings.home_page_testimonial_quote_2 }}
          </h3>
          <p class="testimonials__attribution">
            - {{ settings.home_page_testimonial_attribution_2 }}
          </p>
        </li>
        <li class="testimonials__item">
          {% include 'snippet.svg.icon', type:'icon', class:'quote' %}
          <h3 class="testimonials__quote">
            {{ settings.home_page_testimonial_quote_3 }}
          </h3>
          <p class="testimonials__attribution">
            - {{ settings.home_page_testimonial_attribution_3 }}
          </p>
        </li>
        <li class="testimonials__item">
          {% include 'snippet.svg.icon', type:'icon', class:'quote' %}
          <h3 class="testimonials__quote">
            {{ settings.home_page_testimonial_quote_4 }}
          </h3>
          <p class="testimonials__attribution">
            - {{ settings.home_page_testimonial_attribution_4 }}
          </p>
        </li>
      </ul>
      <ul class="testimonials__pagination pagination pagination--primary">
        <li class="pagination__item">
          <button
              class="pagination__button"
              data-index="0"
              type="button"
          >
            1
          </button>
        </li>
        <li class="pagination__item">
          <button
              class="pagination__button"
              data-index="1"
              type="button"
          >
            2
          </button>
        </li>
        <li class="pagination__item">
          <button
              class="pagination__button"
              data-index="2"
              type="button"
          >
            3
          </button>
        </li>
        <li class="pagination__item">
          <button
              class="pagination__button"
              data-index="3"
              type="button"
          >
            4
          </button>
        </li>
      </ul>
    </section>
  </div>
</div>
