<div class="grid grid--full-width grid--column">
  <div class="grid__container">

    <section
      class="
        blueprint
        grid__item
        grid grid--column
        grid--gutter
        grid--horizontal-center
      "
    >
      <div class="grid__container">
        <h2 class="blueprint__title">
          Menswear wasn't working for us - so in 2014, we set out
          to create a product and an experience that did.
        </h2>

        <p class="blueprint__line">
          Our wishlist wasn't big.
          We just wanted clothes that fit, felt and looked great.
          We didn't need to stay obsessively on trend (whatever that means).
          We didn't need an endless carousel of changing styles.
          Most of all we didn't need to buy them in an over-decorated retail
          palace teeming with other people and annoying shop assistants.
          Unfortunately, the things we didn’t like seemed to come bundled with
          the things we did - and we were paying extra for them.
        </p>

        <br/>

        <p class="blueprint__line">
          So we decided to make our own: clothes built for fit, with real
          craftsmanship.
        </p>
      </div>
    </section>

    <section class="formula grid grid--column grid--horizontal-center">
      <div class="formula__container grid__container">

        <section class="formula__step formula__step--odd grid grid--full-width">
          <div class="formula__step-container grid__container">
            <div class="formula__image-container">
              <img
                class="formula__image"
                src='{{ "formula-1.jpg" | asset_img_url: "302x" }}'
                srcset='
                  {{ "formula-1.jpg" | asset_img_url: "302x" }} 302w,
                  {{ "formula-1.jpg" | asset_img_url: "604x" }} 604w,
                  {{ "formula-1.jpg" | asset_img_url: "803x" }} 803w,
                  {{ "formula-1.jpg" | asset_img_url: "master" }} 1606w
                '
                width="803"
                height="555"
              />
            </div>

            <div class="formula__content"
            >
              <h2
                class="formula__step-title"
                data-step="1"
              >
                <span class="formula__step-title-text">
                  Built to Fit
                </span>
              </h2>

              <ul
                class="formula__list "
              >
                <li class="formula__item">
                  Nothing matters more than fit - so we’ve made it our
                  obsession.
                </li>

                <li class="formula__item">
                  We’ve found a sweet spot between bespoke and 'ready to wear',
                  so you can enjoy uncommonly good fit - without the hassle or
                  the cost of traditional tailoring.
                </li>

                <li class="formula__item">
                  Our secret? We cut clothes in more sizes, and we finish to
                  order - so our clothes fit you, and not the other way around.
                </li>
              </ul>
            </div>
          </div>
        </section>

        <section
          class="
            formula__step
            formula__step--even
            grid
            grid--full-width
          "
        >
          <div class="formula__step-container grid__container">
            <div class="formula__image-container">
              <img
                class="formula__image"
                src='{{ "formula-2.jpg" | asset_img_url: "302x" }}'
                srcset=''
                  {{ "formula-2.jpg" | asset_img_url: "302x" }} 302w,
                  {{ "formula-2.jpg" | asset_img_url: "604x" }} 604w,
                  {{ "formula-2.jpg" | asset_img_url: "803x" }} 803w,
                  {{ "formula-2.jpg" | asset_img_url: "master" }} 1606w
                '
                width="803"
                height="555"
              />
            </div>

            <div 
              class="formula__content"
            >
              <h2
                class="formula__step-title"
                data-step="2"
              >
                <span class="formula__step-title-text">
                  Refined by Design
                </span>
              </h2>

              <ul
                class="formula__list"
               
              >
                <li class="formula__item">
                  We don’t multitask - we focus. We work on just a handful of
                  garments in endless pursuit of the definitive article.
                </li>

                <li class="formula__item">
                  We start with a clean, modern outline - then we iterate
                  obsessively on the detail. The fabric; the lining; the
                  fasteners, the wash.
                </li>

                <li class="formula__item">
                  Finally, we put real tech to work, cutting and sewing in the
                  best tooled factories in Europe.
                </li>
              </ul>
            </div>
          </div>
        </section>

        <section class="formula__step formula__step--odd grid grid--full-width">

            <div class="formula__step-container grid__container">
              <div class="formula__image-container">
                <img
                    class="formula__image"
                    src='{{ "formula-3.jpg" | asset_img_url: "302x" }}'
                    srcset="
                  {{ "formula-3.jpg" | asset_img_url: "302x" }} 302w,
                  {{ "formula-3.jpg" | asset_img_url: "604x" }} 604w,
                  {{ "formula-3.jpg" | asset_img_url: "803x" }} 803w,
                  {{ "formula-3.jpg" | asset_img_url: "master" }} 1606w
                '
                    width="803"
                    height="555"
                />
              </div>

              <div class="formula__content">
                <h2
                    class="formula__step-title formula__step-title--last"
                    data-step="3"
                >
                <span class="formula__step-title-text">
                  Delivered to your Door
                </span>
                </h2>

                <ul
                    class="formula__list"

                >
                  <li class="formula__item">
                    If shopping is purgatory, then fitting rooms are the inner
                    circle of hell.
                  </li>

                  <li class="formula__item">
                    We’re here to take the pain away. Delivery and returns are
                    free - so you can try on in the comfort of our your own home.
                  </li>

                  <li class="formula__item">
                    We stand behind our clothes - everything we sell comes with a
                    bulletproof, 100 day guarantee.
                  </li>
                </ul>
              </div>
            </div>

        </section>
      </div>
    </section>

  </div>
</div>

<div class="grid  grid--full-width grid--column">
  <div class="grid__container">
    <div class="grid grid--gutter grid--nowrap">
      <a
          class="formula__button button button--large-padding button--primary"
          href="/collections/trousers"
          data-relative="true"
          data-start="-600"
          data-end="-300"
          data-translatey-start="50"
          data-translatey-end="0"
      >
          <span class="button__content">
            See the collection
          </span>
      </a>
    </div>

    <section class="boxes grid grid--gutter grid--nowrap">
      <div class="boxes__container grid__container">
        <div class="boxes__box grid__item">
          <div class="boxes__content">
            <h3>
              Questions?
            </h3>

            <p class="boxes__byline">
              Find answers to the most popular questions about our product and
              service, right here:
            </p>
          </div>

          <a
            class="
              boxes__button
              button
              button--large-padding
              button--primary
            "
            href="https://spoke-london.com/pages/faq"
          >
            <span class="button__content">
              Read our FAQ
            </span>
          </a>
        </div>

        <div class="boxes__box grid__item">
          <div class="boxes__content">
            <h3>
              Let’s Talk
            </h3>

            <p class="boxes__byline">
              We’re available to chat 9-5 during the week - click for details on
              where to find us:
            </p>
          </div>

          <a
            class="
              boxes__button
              button
              button--large-padding
              button--primary
            "
            href="/pages/contact-us"
          >
            <span class="button__content">
              Contact us
            </span>
          </a>
        </div>
      </div>
    </section>

    <section class="socialise grid grid--column grid--gutter grid--horizontal-center">
      <div class="grid__container">
        <h3>
          Socialise or something
        </h3>

        <ul class="socialise__buttons social social--large-padding formula__social">
          <li class="social__item">
            <a
              class="social__link"
              href="{{ settings.social_facebook }}"
            >
              {% include 'snippet.svg.icon.social', type:'icon', class:'facebook' %}
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="{{ settings.social_twitter }}"
            >
              {% include 'snippet.svg.icon.social', type:'icon', class:'twitter' %}
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="{{ settings.social_instagram }}"
            >
              {% include 'snippet.svg.icon.social', type:'icon', class:'instagram' %}
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="{{ settings.social_pinterest }}"
            >
              {% include 'snippet.svg.icon.social', type:'icon', class:'pinterest' %}
            </a>
          </li>
        </ul>
      </div>
    </section>

  </div>
</div>
